/* Container para tabelamento */
.container {
    height: 100vh;
    padding: 30px;

    display: grid;
    grid-template-rows: 15% 85% 15%;
    grid-template-columns: 25% 50% 25%;
    grid-template-areas:
    'modos-de-jogo contador-de-rounds recorde-e-ajuda'
    'modos-de-jogo genius recorde-e-ajuda';
}

/* Modos de jogo */
.modos-de-jogo {
    grid-area: modos-de-jogo;
}

.modos-de-jogo-tabela {
    display: flex;
    justify-content: center;
}

.modos-de-jogo-lista {
    display: flex;
    flex-direction: column;
    border: 2px solid gray;
    border-radius: 20%;
    list-style: none;
    padding-left: 0;
}

.modos-de-jogo-titulo {
    font-size: 25px;
    color: #fff;
    font-family: 'Russo One';
    padding: 0.5em 1em;
}

.modos-de-jogo-texto {
    background: none;
    border: none;

    padding-left: 15px;
    padding-block: 15px;

    font-size: 25px;
    color: #fff;
    font-family: 'Josefin Sans';
}

.modos-de-jogo-texto:last-child {
    padding-bottom: 20px;
}

.modos-de-jogo-botao {
    background: none;
    border-radius: 5px;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    margin-left: 10px;
    border: 1px solid #fff;
}

/* Contador de Rounds */
.contador-de-rounds {
    font-family: 'Prompt';
    color: #fff;
    font-size: 35px;

    display: grid;
    justify-content: center;

    grid-area: contador-de-rounds;
}

/* Genius (localizar no grid) */
.genius {
    grid-area: genius;
}

/* Coluna de recorde e ajuda */
.recorde-e-ajuda {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    grid-area: recorde-e-ajuda;
}

.recorde {
    font-family: 'Russo One';
    font-size: 32px;
    color: white;

    text-align: right;

    grid-area: recorde;
}

.hits {
    font-family: 'Prompt';
    font-size: 25px;
    color: white;
}

.ajuda {
    width: 65px;
    aspect-ratio: 1/1;
    text-align: center;
    
    font-size: 30px;
    font-family: 'Russo One';
    color: white;

    border-radius: 100%;
    background: black;
    border: 5px solid white;

    grid-area: ajuda;
}