/* MediaQuery */
@media (max-width: 1030px) {
    .container {
        grid-template-rows: 15% 35% 35% 15%;
        grid-template-columns: 2fr 1fr;
        grid-template-areas:
        'contador-de-rounds modos-de-jogo'
        'genius modos-de-jogo'
        'genius recorde-e-ajuda'
        'genius recorde-e-ajuda';
    }

    .modos-de-jogo {
        display: flex;
        align-items: flex-start;
        justify-content: center;
    }
}

@media (max-width: 800px) {
    .container {
        height: 150vh;
        grid-template-rows: 5% 65% 30%;
        grid-template-columns: 50% 50%;
        grid-template-areas:
        'contador-de-rounds contador-de-rounds'
        'genius genius'
        'recorde-e-ajuda modos-de-jogo';
    }

    .contador-de-rounds {
        align-items: center;
        font-size: 40px;
    }

    .modos-de-jogo {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .recorde-e-ajuda {
        justify-content: space-around;
        flex-direction: row-reverse;
    }
}

@media (max-width: 600px) {
    .container {
        height: 100vh;
        padding: 15px;
        grid-template-rows: 15% 75% 10%;
        grid-template-columns: 50% 50%;
        grid-template-areas:
        'contador-de-rounds recorde-e-ajuda'
        'genius genius'
        'modos-de-jogo modos-de-jogo';
        overflow: hidden;
    }

    #root {
        --button-size: clamp(180px, 36.5vw / 2, 270px);
        --small-border: 7px;
        --big-border: 14px;
        --shadow-box: 8px;
        --shadow-text: 8px;
        --text-size: 40px;
        --game-size: calc((var(--button-size) * 2));
        display: grid;
        align-items: center;
        justify-content: center;
    }

    .contador-de-rounds {
        font-size: 30px;
        align-items: center;
    }

    .recorde {
        font-size: 24px;
        align-self: flex-start;
    }

    .hits {
        font-size: 18px;
    }

    .ajuda {
        font-size: 28px;
        width: 50px;
        height: 50px;
        align-self: center;
    }

    #btn-center {
        --text-size: 30px;
    }

    .modos-de-jogo-lista {
        flex-direction: row;
        border-radius: 0;
        align-items: baseline;
    }

    .modos-de-jogo-titulo {
        font-size: 16px;
        padding-inline: 10px;
        text-align: center;
    }
    
    .modos-de-jogo-texto {
        font-size: 16px;
        padding-inline: 10px;
        text-align: center;
    }
}