/*font-family: 'Josefin Sans', sans-serif;
font-family: 'Kanit', sans-serif;
font-family: 'Lilita One', cursive;             <----- FONTES IMPORTADAS
font-family: 'Passion One', cursive;
font-family: 'Prompt', sans-serif;
font-family: 'Russo One', sans-serif;*/

* {
    outline: none;
    box-sizing: border-box;
}

body {
    background-color: black;
    margin: 0;
    padding: 0;
}

#root {
    --button-size: clamp(240px, 36.5vw / 2, 270px);
    --small-border: 10px;
    --big-border: 20px;
    --shadow-box: 8px;
    --shadow-text: 15px;
    --text-size: 55px;
    --game-size: calc((var(--button-size) * 2));
    display: grid;
    align-items: center;
    justify-content: center;
}

#group-btn {
    display: grid;
    height: var(--game-size);
    width: var(--game-size);
    grid-template-rows: repeat(4, calc(var(--button-size)/2));
    grid-template-columns: repeat(4, calc(var(--button-size)/2));
}

/* Botões */
.btn {
    height: var(--button-size);
    width: var(--button-size);
    filter: grayscale(0.2);
    transition: 0.2s;
    border: none;

}

.btn:hover {
    filter: grayscale(0.0);
    transition: 0.2s;
}

.btn-blue {
    background: #1925FF;
}

#blue {
    grid-area: 1/3/2/4;
    border-top-right-radius: 100%;

    border: var(--small-border) solid white;
    border-right: var(--big-border) solid white;
    border-top: var(--big-border) solid white;

    /* sombreamento neon */
    box-shadow: var(--shadow-box) calc(var(--shadow-box)*-1) var(--shadow-box) #1925FF;
}

.btn-red {
    background: #FF120D;
}

#red {
    border-top-left-radius: 100%;
    grid-area: 1/1/2/2;

    border: var(--small-border) solid white;
    border-left: var(--big-border) solid white;
    border-top: var(--big-border) solid white;

    /* sombreamento neon */
    box-shadow: calc(var(--shadow-box)*-1) calc(var(--shadow-box)*-1) var(--shadow-box) #FF120D;
}

.btn-yellow {
    background: #FFCC00;
}

#yellow {
    border-bottom-left-radius: 100%;
    grid-area: 3/1/4/2;

    border: var(--small-border) solid white;
    border-left: var(--big-border) solid white;
    border-bottom: var(--big-border) solid white;

    /* sombreamento neon */
    box-shadow: calc(var(--shadow-box)*-1) var(--shadow-box) var(--shadow-box) #FFCC00;
}

.btn-green {
    background: #34E035;
}

#green {
    border-bottom-right-radius: 100%;
    grid-area: 3/3/4/4;
    
    border: var(--small-border) solid white;
    border-right: var(--big-border) solid white;
    border-bottom: var(--big-border) solid white;

    /* sombreamento neon */
    box-shadow: var(--shadow-box) var(--shadow-box) var(--shadow-box) #34E035;
}

.btn-grey {
    background: #51515c;

    /* sombreamento neon */
    box-shadow: var(--shadow-box) calc(var(--shadow-box)*-1) var(--shadow-box) #51515c;
}

#btn-center {
    border: none;
    height: var(--button-size);
    width: var(--button-size);
    border-radius: 100%;

    grid-area: 2/2/4/4;
    z-index: 1;

    /* edição do texto do botão */
    font-size: var(--text-size);
    overflow-wrap: break-word;
    text-align: center;
    color: black;
    max-lines: 2;
    font-family: 'Russo One';

    /* sombras */
    text-shadow: 4px 4px var(--shadow-text) rgba(0,0,0,0.5);
}

.active {
    filter: grayscale(0.0);
    transition: 0.2s;
}

/* Contêiner para tabelamento */
.container {
    height: 100vh;
    padding: 30px;

    display: grid;
    grid-template-rows: 15% 85% 15%;
    grid-template-columns: 25% 50% 25%;
    grid-template-areas:
    'modos-de-jogo contador-de-rounds recorde-e-ajuda'
    'modos-de-jogo genius recorde-e-ajuda';
}

/* Modos de jogo */
.modos-de-jogo {
    grid-area: modos-de-jogo;
}

.modos-de-jogo-tabela {
    display: flex;
    justify-content: center;
}

.modos-de-jogo-lista {
    display: flex;
    flex-direction: column;
    border: 2px solid gray;
    border-radius: 20%;
    list-style: none;
    padding-left: 0;
}

.modos-de-jogo-titulo {
    font-size: 25px;
    color: #fff;
    font-family: 'Russo One';
    padding: 0.5em 1em;
}

.modos-de-jogo-texto {
    background: none;
    border: none;

    padding-left: 15px;
    padding-block: 15px;

    font-size: 25px;
    color: #fff;
    font-family: 'Josefin Sans';
}

.modos-de-jogo-texto:last-child {
    padding-bottom: 20px;
}

.modos-de-jogo-botao {
    background: none;
    border-radius: 5px;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    margin-left: 10px;
    border: 1px solid #fff;
}

/* Contador de Rounds */
.contador-de-rounds {
    font-family: 'Prompt';
    color: #fff;
    font-size: 35px;

    display: grid;
    justify-content: center;

    grid-area: contador-de-rounds;
}

/* Genius (localizar no grid) */
.genius {
    grid-area: genius;
}

/* Coluna de recorde e ajuda */
.recorde-e-ajuda {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    grid-area: recorde-e-ajuda;
}

.recorde {
    font-family: 'Russo One';
    font-size: 32px;
    color: white;

    text-align: right;

    grid-area: recorde;
}

.hits {
    font-family: 'Prompt';
    font-size: 25px;
    color: white;
}

.ajuda {
    width: 65px;
    aspect-ratio: 1/1;
    
    font-size: 30px;
    font-family: 'Russo One';
    color: white;

    border-radius: 100%;
    background: black;
    border: 5px solid white;

    grid-area: ajuda;
}

/* MediaQuery */
@media (max-width: 1030px) {
    .container {
        grid-template-rows: 15% 35% 35% 15%;
        grid-template-columns: 2fr 1fr;
        grid-template-areas:
        'contador-de-rounds modos-de-jogo'
        'genius modos-de-jogo'
        'genius recorde-e-ajuda'
        'genius recorde-e-ajuda';
    }

    .modos-de-jogo {
        display: flex;
        align-items: flex-start;
        justify-content: center;
    }
}

@media (max-width: 800px) {
    .container {
        height: 150vh;
        grid-template-rows: 5% 65% 30%;
        grid-template-columns: 50% 50%;
        grid-template-areas:
        'contador-de-rounds contador-de-rounds'
        'genius genius'
        'recorde-e-ajuda modos-de-jogo';
    }

    .contador-de-rounds {
        align-items: center;
        font-size: 40px;
    }

    .modos-de-jogo {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .recorde-e-ajuda {
        justify-content: space-around;
        flex-direction: row-reverse;
    }
}

@media (max-width: 600px) {
    .container {
        height: 100vh;
        padding: 15px;
        grid-template-rows: 15% 75% 10%;
        grid-template-columns: 50% 50%;
        grid-template-areas:
        'contador-de-rounds recorde-e-ajuda'
        'genius genius'
        'modos-de-jogo modos-de-jogo';
        overflow: hidden;
    }

    #root {
        --button-size: clamp(180px, 36.5vw / 2, 270px);
        --small-border: 7px;
        --big-border: 14px;
        --shadow-box: 8px;
        --shadow-text: 8px;
        --text-size: 40px;
        --game-size: calc((var(--button-size) * 2));
        display: grid;
        align-items: center;
        justify-content: center;
    }

    .contador-de-rounds {
        font-size: 30px;
        align-items: center;
    }

    .recorde {
        font-size: 24px;
        align-self: flex-start;
    }

    .hits {
        font-size: 18px;
    }

    .ajuda {
        width: 50px;
        aspect-ratio: 1/1
        font-size: 30px;
        align-self: center;
    }

    .modos-de-jogo-lista {
        flex-direction: row;
        border-radius: 0;
        align-items: baseline;
    }

    .modos-de-jogo-titulo {
        font-size: 16px;
        padding-inline: 10px;
        text-align: center;
    }
    
    .modos-de-jogo-texto {
        font-size: 16px;
        padding-inline: 10px;
        text-align: center;
    }
}