* {
    outline: none;
    box-sizing: border-box;    
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
}

/* 
#div-menu {
    background: yellowgreen;
    flex: 25%;
} */

#root {
    --button-size: 300px;
    --small-border: 10px;
    --big-border: 20px;
    --shadow-box: 15px;
    --shadow-text: 15px;
    --text-size: 4rem;
    --game-size: calc((var(--button-size) * 2));
    display: flex;
    flex-direction: column;
}

/* 
#div-aside {
    background: whitesmoke;
    flex: 25%;
} */

#group-btn {
    display: flex;
    flex-wrap: wrap;
    height: var(--game-size);
    width: var(--game-size);
    justify-content: center;
    
}

/* Botões */
.btn {
    height: var(--button-size);
    width: var(--button-size);
    filter: grayscale(0.2);
    transition: 0.2s;
    border: none;

}

.btn:hover {
    filter: grayscale(0.0);
    transition: 0.2s;
}

.btn-blue {
    background: #1925FF;
    border-top-right-radius: 100%;

    border: var(--small-border) solid white;
    border-right: var(--big-border) solid white;
    border-top: var(--big-border) solid white;

    /* sombreamento neon */
    box-shadow: var(--shadow-box) calc(var(--shadow-box)*-1) var(--shadow-box) #1925FF;
}

.btn-red {
    background: #FF120D;
    border-top-left-radius: 100%;

    border: var(--small-border) solid white;
    border-left: var(--big-border) solid white;
    border-top: var(--big-border) solid white;

    /* sombreamento neon */
    box-shadow: calc(var(--shadow-box)*-1) calc(var(--shadow-box)*-1) var(--shadow-box) #FF120D;
}

.btn-yellow {
    background: #FFCC00;
    border-bottom-left-radius: 100%;

    border: var(--small-border) solid white;
    border-left: var(--big-border) solid white;
    border-bottom: var(--big-border) solid white;
    
    /* sombreamento neon */
    box-shadow: calc(var(--shadow-box)*-1) var(--shadow-box) var(--shadow-box) #FFCC00;
}

.btn-green {
    background: #34E035;
    border-bottom-right-radius: 100%;

    border: var(--small-border) solid white;
    border-right: var(--big-border) solid white;
    border-bottom: var(--big-border) solid white;

    /* sombreamento neon */
    box-shadow: var(--shadow-box) var(--shadow-box) var(--shadow-box) #34E035;
}

#btn-center {
    color: white;
    border: none;
    height: var(--button-size);
    width: var(--button-size);
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -150%);
    border-radius: 100%;

    /* edição do texto do botao */
    font-size: var(--text-size);
    overflow-wrap: break-word;
    text-align: center;
    color: black;
    max-lines: 2;
    /* sombras */
    text-shadow: 4px 4px var(--shadow-text) rgba(0,0,0,0.5);
}

/* MediaQuery */
@media (max-width: 600px) {
    #group-btn {
        
        --button-size: 200px;
        --big-border: 10px;
        --small-border: 5px;
        --text-size:2.5rem;
        --shadow-box:10px;
        --game-size: calc(var(--button-size)*2);

    }
    #btn-center{
        --button-size: 200px;
        --text-size:2.5rem;    
    }
    

}

@media (max-width: 440px) {
    #group-btn {
        --button-size: 150px;
        --big-border: 10px;
        --small-border: 5px;
        --text-size:2rem;
        --shadow-box:5px;
        --game-size: calc(var(--button-size)*2);
    }
    #btn-center{
        --button-size: 150px;
        --text-size:2rem;    
    }
}